<header class='entete'>
	<nav> 
	 <a style="margin-left: 20px;" href='/vider'><i class="fa fa-industry" aria-hidden="true"></i>Vider</a>
	 <a style="margin-left: 20px;" href='/'><i class="fa fa fa-users" aria-hidden="true"></i>Accueil</a>
	 <a style="margin-left: 20px;" href='/list'><i class="fa fa-graduation-cap" aria-hidden="true"></i>Adresse</a>
	 <a style="margin-left: 20px;" href='/peupler'><i class="fa fa-keyboard-o" aria-hidden="true"></i>Peupler</a>
<input style="margin-left: 20px;" type="text" placeholder="Search.."><a href='/chercher'><i class="fa fa-search" aria-hidden="true"></i></a>

	</nav style="background-color: black;"> 
	 <section style="margin-top: 60px;margin-bottom: 60px;">
	 <a href='/adresse'><i class="fa fa-cubes fa-5x"></i></a>
	 <h1>Node.js - Express - mongoDB et EJS</h1> 
	 </section>
 </header>