 <form style="width: 1100px;margin-left: 400px;height: 60px;" action="/ajouter" method="POST" >
 <input style="height: 30px;width: 200px;" type = "text" placeholder="Nom" name = "nom"> 
 <input style="height: 30px;width: 200px;" type = "text" placeholder="Prénom" name = "prenom">
 <input style="height: 30px;width: 200px;" type = "text" placeholder="Ville" name = "ville">
 <input style="height: 30px;width: 200px;" type = "text" placeholder="Courriel" name = "courriel"> 
 <input style="height: 30px;width: 200px;" type = "text" placeholder="Téléphone" name = "telephone">
 <button style="height: 60px;width: 200px;background: linear-gradient(to bottom right,  #005ce6, #66a3ff);border:2px solid #005ce6;color:white;font-size:20px;margin-top: 20px;margin-bottom: 40px;" type="submit" value='Ajouter'>Ajouter</button>
</form>

 <form style="display:none;" class='mon_formulaire' action="/modifier" name='mon_formulaire' id='mon_formulaire' method="POST" >
 <input style="display:none;" type = "hidden" placeholder="id" name = "_id" value=''> 
 <input style="display:none;" type = "text" placeholder="Nom" name = "nom" > 
 <input style="display:none;" type = "text" placeholder="Prénom" name = "prenom" >
 <input style="display:none;" type = "text" placeholder="Ville" name = "ville" >
 <input style="display:none;" type = "text" placeholder="Courriel" name = "courriel" > 
 <input style="display:none;" type = "text" placeholder="Téléphone" name = "telephone" >
 <button  type="submit" value='Modifier'>Modifier</button>
</form>



