 <form action="/ajouter" method="POST" >
 <input type = "text" placeholder="Nom" name = "nom"> 
 <input type = "text" placeholder="Prénom" name = "prenom">
 <input type = "text" placeholder="Ville" name = "ville">
 <input type = "text" placeholder="Courriel" name = "courriel"> 
 <input type = "text" placeholder="Téléphone" name = "telephone">
 <button style="background: linear-gradient(to bottom right, white, yellow);border:2px solid yellow;" type="submit" value='Ajouter'>Ajouter</button>
</form>



