<!DOCTYPE html>

<html lang="fr">

<head>

	<meta charset="UTF-8">

	<title>Mon Application</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://use.fontawesome.com/e64c71857d.js"></script>

</head>

<body>

<header class='entete'>
	<nav style="background-color: black;"> 
	 <a href='/vider'><i class="fa fa-industry" aria-hidden="true"></i>Vider</a>
	 <a href='/'><i class="fa fa fa-users" aria-hidden="true"></i>Accueil</a>
	 <a href='/list'><i class="fa fa-graduation-cap" aria-hidden="true"></i>Adresse</a>
	 <a href='/peupler'><i class="fa fa-keyboard-o" aria-hidden="true"></i>Peupler</a>
	<input style="margin-left: 20px;" type="text" placeholder="Search.."><a  href='/chercher'><i class="fa fa-search" aria-hidden="true"></i></a>

	</nav> 
	 <section>
	 <a href='/adresse' style="color: #4d4dff"><i class="fa fa-cubes fa-5x"></i></a>
	 <h1>Node.js - Express - mongoDB et EJS</h1> 
	 </section>
 </header>


<form action="/ajouter" method="POST" >
 <input type = "text" placeholder="Nom" name = "nom"> 
 <input type = "text" placeholder="Prénom" name = "prenom">
 <input type = "text" placeholder="Ville" name = "ville">
 <input type = "text" placeholder="Courriel" name = "courriel"> 
 <input type = "text" placeholder="Téléphone" name = "telephone">
 <button type="submit" value='Ajouter'>Submit</button>
</form>


<div class="sectionTableau">

		

		<table class="tableau">
			<% let noLigne = 0 %>
			<% for (element of adresse) {%>
			<% if (noLigne == 0) { %>
			<tr>
				<% noLigne++ %>
				<% for (p in element){ %>
				<th><%= p %></th>
				<% } %>
			</tr>
			<% } %>
			<tr>
				<% for (p in element) { %>
				<td><%= element[p] %></td>
				<% } %>
			</tr>
			<% } %>
		</table>
	</div>

</body>

</html>
